main {
  height: 100vh;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  color: #fff;
}
.chatBox h4 {
  color: #fff;
}
.chatBox {
  padding: 20px 0px;
}

.chatBox .form-floating {
  margin-bottom: 10px;
}
